// Define variable defaults
//$body-bg: #000;
$body-color: #666;
$primary: #4aa447;
$enable-shadows: true;



// Then import Bootstrap an BootstrapVue SCSS files (order is important)
@import 'node_modules/bootstrap/scss/bootstrap.scss';
//@import 'node_modules/bootstrap-vue/src/index.scss';


.record-type-disabled:disabled {
   color: #FFFFFF;
   background-color: green;
}

@media (max-width: 767px) {
   .modal-fullscreen .modal-dialog {
      max-width: 100%;
      margin: 0;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 85vh;
      display: flex;
      position: fixed;
      z-index: 100000;
   }
}